docs

# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Cache and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/app/bootstrap_cache.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# Assets managed by Bower
/web/assets/vendor/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

web/app_dev.php             # see web/app_dev.php.dist
web/*_dev.php             # see web/app_dev.php.dist

# doctrine entities generation backup
*.php~

#
# OS garbage, Editors, IDEs, etc
#
.DS_Store
.svn
code_coverage
*~
*.swp
coverage
.coverage
nbproject
.nbproject
build
.build
.settings
.settings/.*
.project
project
*.project
.buildpath
*.db
*.tmproj
*.sublime-project
*.sublime-workspace
.idea
*.idea/*
info.php
